# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/packages
[Oo]bj/
[Bb]in/

# testing
/TestResults
/CAL.CD.Search.TestFramework/Features/**/*.cs
Reports

# project
.vs/
